@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body {
  height: 100%;
  width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2D1F9;
    font-family: 'Roboto Condensed', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #317773;
}
#time{
    text-align: center;
    background-color: #E2D1F9;
    outline: none;
    border: none;
}
#set{
    background-color: #8AAAE5;
    border: none;
    padding: 5px;
    width: 30%;
}
#set:hover{
    cursor: pointer;
    background-color: #6379a1;
}